
node_modules/
.cypress/
cypress/videos/
cypress/screenshots/

package-lock.json
yarn.lock

npm-debug.log
yarn-debug.log
yarn-error.log

.env

.DS_Store
Thumbs.db

cypress/results/
cypress/reports/

.idea/
.vscode/
*.sublime-workspace